body {
    background-color: #E6E6E6;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    padding-bottom : 20px;
    font-family: 'Secular One', sans-serif;
}
.error-message {
    margin-top: 50px;
}